{% extends 'base.html' %}
{% block content %}


<h1>Appointment Details</h1>

<div class="row g-2">
  <div class="col-4">
    <div class="card mx-auto">
      <div class="card-content">
        <div class="card-header">
          <span class="card-title">Appointment with {{ appointment.doctor }} on {{ appointment.date}}</span>
        </div>
        <div class="card-body">
          <p class="card-text text-centered">Patient: {{ appointment.patient }}</p>
          <p class="card-text text-centered">Date: {{ appointment.date }}</p>
          <p class="card-text text-centered">Doctor: {{ appointment.doctor }}</p>
        </div>

      </div>
      <div class="card-action">
        <a href="{% url 'appointments_update' appointment.id %}" class="btn btn-secondary" role="button">Edit</a>
        <a href="{% url 'appointments_delete' appointment.id %}" class="btn btn-danger" role="button">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

