/* line 3, main_app/static/main_app/_dashboard.scss */
.dashboard {
  background-color: aqua; }

/* line 3, main_app/static/main_app/_home.scss */
.home {
  background-color: magenta; }

/* line 3, main_app/static/main_app/_profile.scss */
.dash-profile {
  justify-content: center;
  align-items: center; }

/* line 6, main_app/static/main_app/style.scss */
.navbar-brand {
  transition: all 3.5s ease-in-out; }
  /* line 8, main_app/static/main_app/style.scss */
  .navbar-brand:hover {
    background-color: aqua; }
