/* line 3, main_app/static/main_app/_home.scss */
home-carousel {
  min-width: 100%; }

/* line 3, main_app/static/main_app/_profile.scss */
.userLogo {
  background-color: #e7f1e9;
  border-radius: 50%; }

/* line 6, main_app/static/main_app/style.scss */
.navbar-brand, .navbar-menu, .navbar-dash {
  transition: all .5s ease-in-out; }
  /* line 8, main_app/static/main_app/style.scss */
  .navbar-brand:hover, .navbar-menu:hover, .navbar-dash:hover {
    background-color: #e7f1e9; }

/* line 21, main_app/static/main_app/style.scss */
.appointments-container {
  width: 80vw; }

/* line 25, main_app/static/main_app/style.scss */
.provider-search-container {
  background-color: #cbb1e8;
  margin: 0 auto;
  text-align: center; }

/* line 32, main_app/static/main_app/style.scss */
.provider-results-container {
  width: 80vw;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 8%;
  border-radius: 10px; }

/* line 40, main_app/static/main_app/style.scss */
.provider-container {
  justify-content: center;
  margin-top: 7%;
  border-radius: 30px;
  width: 80vw; }
