{% extends 'base.html' %}

{% block content %}
<div class="card mb-3">
 
    <div class="row g-0">
      <div class="col-4">
        <div class="card-body">
            
{# below is a temporary pull from the API until we have a form to incorporate #}
          <!-- <p class="card-text">Prescription: {{ prescriptionName }}</p> 
          <p class="card-text">Strength: {{ prescriptionStrength }}</p> -->

            <link href='https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/17.0.2/autocomplete-lhc.min.css' rel="stylesheet">
            <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
            <script src='https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/17.0.2/autocomplete-lhc.min.js'></script>
  {% if object %}
    <h1>Edit <span class="text-primary">{{object.name}}</span></h1>
  {% else %}
    <h1>Add Medication</h1>
  {% endif %}
  <form action="" method="post">

    {% csrf_token %}
    
    <input type="text" id="prescriptionName" placeholder="Medication name">
    <input type="text" id="prescriptionStrength" placeholder="Strength list">
    <input type="submit" value="Submit!" class="btn">
  </form>
            
        </div>
      </div>
    </div>

  </div>
<script>
  new Def.Autocompleter.Prefetch('prescriptionStrength', []);
  new Def.Autocompleter.Search('prescriptionName',
    'https://clinicaltables.nlm.nih.gov/api/rxterms/v3/search?ef=STRENGTHS_AND_FORMS');
  Def.Autocompleter.Event.observeListSelections('prescriptionName', function() {
    const drugField = $('#prescriptionName')[0];
    const autocomp = drugField.autocomp;
    const strengths =
      autocomp.getSelectedItemData()[0].data['STRENGTHS_AND_FORMS'];
    if (strengths)
      $('#prescriptionStrength')[0].autocomp.setListAndField(strengths, '');
})
</script>
{% endblock content %}
