{% extends 'base.html' %}

{% block content %}

<link href='https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/17.0.2/autocomplete-lhc.min.css' rel="stylesheet">
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src='https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/17.0.2/autocomplete-lhc.min.js'></script>


<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-8">
      <h1 class="text-center my-4">{{ user.first_name }} {{ user.last_name }}'s Medications</h1>

    </div>
    <div class="col-4">
      <a class="btn btn-success btn-lg" href="#add-prescription">Add New Prescription</a>

    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 gy-2 mx-0">
  
    {% for prescription in prescriptions %}
  
    
    {% if prescription.user == user %}
    <div class="col">
      <div class="card mx-2">
        <div class="card-header mx-0">
          <div class="row g-0">
            <div class="col-4 align-self-center mx-0">
              <div class="card-title">
                <h3>{{ prescription.name }}</h3>
              </div>
            </div>
            <div class="col-8 align-self-center">
              <h6 class="card-subtitle text-right text-muted">Prescribed to: {{user.first_name}} {{user.last_name}} - {{ prescription.user }}</h6>
              <h6 class="card-subtitle text-right text-muted">Prescribed by: {{ prescription.doctor }}</h6>
            </div>
          </div>
        </div>
        <div class="row g-0">
          <div class="col-4">
            <div class="card-body">
              <p class="card-text">Medication: {{ prescription.name }}</p>
              <p class="card-text">Dose: {{ prescription.size }}</p>
            </div>
          </div>
          <div class="col-8">
            <div class="card-body">
              <p class="card-text">Use Instructions: {{ prescription.instructions }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card-body">
              <p class="card-text">Notes: {{ prescription.notes }}</p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="card-action">
            <div class="form-check form-switch">
              <a href="{% url 'prescriptions_update' prescription.id %}"><button class="btn btn-lg btn-light" type="button">Update Prescription</button></a>
            </div>
          </div>
        </div> 
      </div>
    </div>
    {% endif %}
    {% endfor %}
     
  </div>
  
  <hr>

</div>
<div class="container-fluid my-2" id="add-prescription">
<div class="row justify-content-center">
  <div class="col-sm col-md-8 align-self-center">
    <div class="card">
      <div class="card-body">
        <div class="card-title text-center">
          
          {% if object %}
          <h1>Edit <span class="text-primary">{{object.name}}</span></h1>
          {% else %}
          <h1 class="card-text">New Prescription Form</h1>
          {% endif %}
        </div>
        <div class="card-text">

          
          <form action="{% url 'add_prescription' user.id %}" method="POST">
            {% csrf_token %}
            {{ prescription_form.as_p }}
            
            
            <div class="d-grid gap-0 ">
              <input type="submit" value="Submit!" class="btn btn-success">
            </div>
          </form>


        </div>
      </div> <!-- End Card Body for form  -->
    </div> <!-- End Card -->
  </div> <!-- End Col-->
</div><!-- End Row-->

<br><br>

<script>
  new Def.Autocompleter.Prefetch('prescriptionStrength', []);
  new Def.Autocompleter.Search('prescriptionName',
    'https://clinicaltables.nlm.nih.gov/api/rxterms/v3/search?ef=STRENGTHS_AND_FORMS');
  Def.Autocompleter.Event.observeListSelections('prescriptionName', function() {
    const drugField = $('#prescriptionName')[0];
    const autocomp = drugField.autocomp;
    const strengths =
      autocomp.getSelectedItemData()[0].data['STRENGTHS_AND_FORMS'];
    if (strengths)
      $('#prescriptionStrength')[0].autocomp.setListAndField(strengths, '');
})
</script>
{% endblock content %}