{% extends 'base.html' %}

{% block content %}

<link href='https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/17.0.2/autocomplete-lhc.min.css' rel="stylesheet">
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src='https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/17.0.2/autocomplete-lhc.min.js'></script>


<div class="container-fluid">

  <div class="row align-items-center">
    <div class="col-8">
      <h1 class="text-center my-2 display-3">{{ user.first_name }} {{ user.last_name }}'s Medications</h1>
      

    </div>
    <div class="col-4">
      <a class="btn btn-success btn-lg" href="#add-prescription">Add New Prescription</a>

    </div>
  </div>
  <hr class="border border-primary border-3 opacity-75">

  <div class="row">

    <div class="col-6 align-self-top mx-0">
      <div class="text-decoration-underline">
        <h1 class="text-center display-6">Current</h1>
      </div>
      <div class="accordion" id="accordionPrescribed">
        {% for prescription in prescriptions %}
        {% if prescription.user == user %}
          {% if prescription.prescribed == True %}
   
          <div class="accordion-item mx-0 my-0">
            <h2 class="accordion-header" id="heading-{{ prescription.id }}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collasp-{{ prescription.id }}" aria-expanded="true" aria-controls="collasp-{{ prescription.id }}">
                <p class="fs-4 fw-bold my-0"> {{ prescription.name }}</p>
              </button>
            </h2>
            <div id="collasp-{{ prescription.id }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ prescription.id }}" data-bs-parent="#accordionPrescribed">
              <div class="accordion-body">
                <div class="card mx-0 my-0">
                  <div class="card-header mx-0">
                    <div class="col align-self-center mx-0">
                      <h6 class="card-subtitle align-self-center text-muted"><u>Prescribed by:   {{ prescription.doctor }}</u> </h6>
                    </div>
                  </div>
                    <div class="card-body">
                      <p class="card-text fs-5 "><u>Dose</u>:  <b>{{ prescription.size }} </b> </p>
                      <p class="card-text fs-5 "><u>Instructions</u>:  <b>{{ prescription.instructions }}</b></p>
                      <p class="card-text fs-6 ">Notes: {{ prescription.notes }}</p>
                    </div>
                    <a href="{% url 'prescriptions_update' prescription.id %}" class="text-reset text-decoration-none">
                      <div class="card-footer text-center">
                        <p class="fs-3 fw-semibold m-0">Update</p>
                      </div>
                    </a>
                </div> 
              </div>
            </div>
          </div>
          {% endif %}
        {% endif %}
        {% endfor %}    
      </div>
    </div>
    
    <div class="col-6 align-self-top mx-0">
      <div class="text-decoration-underline">
        <h1 class="text-center display-6">Past</h1>
      </div>
      <div class="accordion" id="accordionPrescribed">
        {% for prescription in prescriptions %}
        {% if prescription.user == user %}
          {% if prescription.prescribed == False %}
   
          <div class="accordion-item mx-0 my-0">
            <h2 class="accordion-header" id="heading-{{ prescription.id }}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collasp-{{ prescription.id }}" aria-expanded="true" aria-controls="collasp-{{ prescription.id }}">
                <p class="fs-4 fw-bold my-0"> {{ prescription.name }}</p>
              </button>
            </h2>
            <div id="collasp-{{ prescription.id }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ prescription.id }}" data-bs-parent="#accordionPrescribed">
              <div class="accordion-body">
                <div class="card mx-0 my-0">
                  <div class="card-header mx-0">
                    <div class="col align-self-center mx-0">
                      <h6 class="card-subtitle align-self-center text-muted"><u>Prescribed by:   {{ prescription.doctor }}</u> </h6>
                    </div>
                  </div>
                    <div class="card-body">
                      <p class="card-text fs-5 "><u>Dose</u>:  <b>{{ prescription.size }} </b> </p>
                      <p class="card-text fs-5 "><u>Instructions</u>:  <b>{{ prescription.instructions }}</b></p>
                      <p class="card-text fs-6 ">Notes: {{ prescription.notes }}</p>
                    </div>
                    <a href="{% url 'prescriptions_update' prescription.id %}" class="text-reset text-decoration-none">
                      <div class="card-footer text-center">
                        <p class="fs-3 fw-semibold m-0">Update</p>
                      </div>
                    </a>
                </div> 
              </div>
            </div>
          </div>
          {% endif %}
        {% endif %}
        {% endfor %}    
      </div>
    </div>
  </div>
  <hr class="border border-secondary border-2 opacity-50">
</div>

<div class="container-fluid my-2" id="add-prescription">
  <div class="row justify-content-center">
    <div class="col-sm col-md-8 align-self-center">
      <div class="card">
        <div class="card-body">
          <div class="card-title text-center">
            
            {% if object %}
            <h1>Edit <span class="text-primary">{{object.name}}</span></h1>
            {% else %}
            <h1 class="card-text">New Prescription Form</h1>
            {% endif %}
          </div>
          <div class="card-text">
            <form action="{% url 'add_prescription' user.id %}" method="POST">
              {% csrf_token %}
              {{ prescription_form.as_p }}
                
              <div class="d-grid gap-0 ">
                <input type="submit" value="Submit!" class="btn btn-success">
              </div>
            </form>
          </div>
        </div> <!-- End Card Body for form  -->
      </div> <!-- End Card -->
    </div> <!-- End Col-->
  </div><!-- End Row-->
</div>

<br><br>

<script>
  new Def.Autocompleter.Prefetch('prescriptionStrength', []);
  new Def.Autocompleter.Search('prescriptionName',
    'https://clinicaltables.nlm.nih.gov/api/rxterms/v3/search?ef=STRENGTHS_AND_FORMS');
  Def.Autocompleter.Event.observeListSelections('prescriptionName', function() {
    const drugField = $('#prescriptionName')[0];
    const autocomp = drugField.autocomp;
    const strengths =
      autocomp.getSelectedItemData()[0].data['STRENGTHS_AND_FORMS'];
    if (strengths)
      $('#prescriptionStrength')[0].autocomp.setListAndField(strengths, '');
})
</script>
{% endblock content %}