{% extends 'base.html' %}
{% block content %}

<div class="container-fluid my-2">
  <div class="row justify-content-center">
    <div class="col-sm col-md-8 align-self-center">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            
            {% if object %}
            <h1>Edit <span class="text-primary">{{object.name}}</span></h1>
            {% else %}
            <h1 class="card-text">Add Medication</h1>
            {% endif %}
          </div>
          <div class="card-text">
            <form action="" method="post">
              {% csrf_token %}
              
              {{ form.as_p }}
              <div class="d-grid gap-0 ">
                <input type="submit" value="Submit!" class="btn btn-success">
              </div>
            </form>
          </div>
        </div> <!-- End Card Body for form  -->
      </div> <!-- End Card -->
    </div> <!-- End Col-->
  </div><!-- End Row-->
</div>

<br><br>
{% endblock content %}