{% extends 'base.html' %}


{% block content %}

<div id="home-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <!-- <ol class="carousel-indicactors">
        <li data-bs-target="#home-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#home-carousel" data-bs-slide-to="1"></li>
    </ol> -->
    <div class="home-carousel-inside">
        <div id="carouselHomePage" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active home-carousel-item">
                <img class="home-overlay" src="https://i.imgur.com/eAbQgXO.jpg" alt="First slide">
                <div class="home-container">
                    <h1>the Pursuit of Healthiness</h1>
                    <h3>Helping patients achieve Life, Liberty, and the Pursuit of Healthy Living.</h3>
                    <br>
                {% if user.is_authenticated  %}
                    <a href="{% url 'index' %}" class="btn btn-lg home-btn">Get Started</a>
                {% else %}
                    <a href="{% url 'signup' %}" class="btn btn-lg home-btn">Get Started</a>
                {% endif %}
                </div>
              </div>
              <div class="carousel-item home-carousel-item">
                <img class="home-overlay" src="https://i.imgur.com/6EfvobT.jpg" alt="Second slide">
                <div class="home-container">
                    <h1>the Pursuit of Healthiness</h1>
                    <h3>Helping patients achieve Life, Liberty, and the Pursuit of Healthy Living.</h3>
                    <br>
                {% if user.is_authenticated  %}
                    <a href="{% url 'index' %}" class="btn btn-lg home-btn">Get Started</a>
                {% else %}
                    <a href="{% url 'signup' %}" class="btn btn-lg home-btn">Get Started</a>
                {% endif %}
                </div>
              </div>
              <div class="carousel-item home-carousel-item">
                <img class="home-overlay" src="https://imgur.com/zkTp9ru.jpg" alt="Third slide">
                <div class="home-container">
                    <h1>the Pursuit of Healthiness</h1>
                    <h3>Helping patients achieve Life, Liberty, and the Pursuit of Healthy Living.</h3>
                    <br>
                {% if user.is_authenticated  %}
                    <a href="{% url 'index' %}" class="btn btn-lg home-btn">Get Started</a>
                {% else %}
                    <a href="{% url 'signup' %}" class="btn btn-lg home-btn">Get Started</a>
                {% endif %}
                </div>
              </div>
            </div>
            <a href="#home-carousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
                <span class="sr-only"></span>
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a href="#home-carousel" class="carousel-control-next" role="button" data-bs-slide="next">
                <span class="sr-only"></span>
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
          </div>    
</div>

{% endblock content %}
    
