{% extends 'base.html' %}


{% block content %}

<div id="home-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="home-carousel-inside">
        <div id="carouselHomePage" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active home-carousel-item">
                <img class="home-overlay w-100 h-40" src="https://i.imgur.com/eAbQgXO.jpg" alt="First slide">
                <div class="home-container">
                    <h1>the Pursuit of Healthyness</h1>
                    <h3>Helping patients achieve Life, Liberty, and the Pursuit of Healthy Living.</h3>
                    <br>
                {% if user.is_authenticated  %}
                    <a href="{% url 'index' %}" class="btn btn-lg btn-light home-btn">Get Started</a>
                {% else %}
                    <a href="{% url 'signup' %}" class="btn btn-lg btn-light home-btn">Get Started</a>
                {% endif %}
                </div>
              </div>
              <div class="carousel-item home-carousel-item">
                <img class="home-overlay w-100" src="https://i.imgur.com/6EfvobT.jpg" alt="Second slide">
                <div class="home-container">
                    <h1>the Pursuit of Healthyness</h1>
                    <h3>Helping patients achieve Life, Liberty, and the Pursuit of Healthy Living.</h3>
                    <br>
                {% if user.is_authenticated  %}
                    <a href="{% url 'index' %}" class="btn btn-lg btn-light home-btn">Get Started</a>
                {% else %}
                    <a href="{% url 'signup' %}" class="btn btn-lg btn-light home-btn">Get Started</a>
                {% endif %}
                </div>
              </div>
              <div class="carousel-item home-carousel-item">
                <img class="home-overlay w-100" src="https://imgur.com/zkTp9ru.jpg" alt="Third slide">
                <div class="home-container">
                    <h1>the Pursuit of Healthyness</h1>
                    <h3>Helping patients achieve Life, Liberty, and the Pursuit of Healthy Living.</h3>
                    <br>
                {% if user.is_authenticated  %}
                    <a href="{% url 'index' %}" class="btn btn-lg btn-light home-btn">Get Started</a>
                {% else %}
                    <a href="{% url 'signup' %}" class="btn btn-lg btn-light home-btn">Get Started</a>
                {% endif %}
                </div>
              </div>
            </div>
            <a href="#home-carousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
                <span class="sr-only"></span>
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a href="#home-carousel" class="carousel-control-next" role="button" data-bs-slide="next">
                <span class="sr-only"></span>
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>    
    </div>
</div>
<br><br>

<hr>
<section id="blurb"  class="justify-content-evenly p-3 mb-5 bg-white rounded ">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <img src="https://i.imgur.com/TOX5M2b.jpg" class="m-0 img-fluid" alt="smith">
            </div>
            <div class="col-lg-8 col-md-12 col-12 blurb-content">
                <h2 class="blurb fw-bold">A journey to a healthyer you</h2>
                <p class="blurb">Don't ever let someone tell you that you can't do something. You got a dream, you gotta protect it. When people can't do something themselves, they're gonna tell you that you can't do it. If you want something, go get it.</p>
                <h4 class="blurb">Pursue your healthyness.</h4>    
            </div>
        </div>
    </div>
</section>
<hr>
<br><br>

<section id="get-started" class="get-started section-padding">
    <div class="container">
        <div class="col-md-12">
            <div class="get-started-header text-center pb-4">
                <h2 class="fw-bold">Get Ahead of the Game</h2>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-white text-center bg-dark pb-2 h-100">
                <div class="card-body">
                    <i class="bi bi-calendar2-heart"></i>
                    <h4>Book An Appointment</h4>
                    <p>Request and schedule appointments as well as view appointment details and edit as needed. </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-white text-center bg-dark pb-2 h-100">
                <div class="card-body">
                    <i class="bi bi-envelope-at"></i>
                    <h4>Contact A Provider</h4>
                    <p>Send and receive secure messages to and from your provider.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-white text-center bg-dark pb-2 h-100">
                <div class="card-body">
                    <i class="bi bi-geo-alt-fill"></i>
                    <h4>Find A Provider</h4>
                    <p>Search for the perfect provider near you or your loved ones.</p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</section>
<br><br>

<section class="testimonial" id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-center m-auto">
                <h1 class="fw-bold text-center">Testimonials</h1>
                <div id="testCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="testCarousel-inner">
                        <div class="item test-carousel-item carousel-item active">
                            <div class="img-circle"><img src="https://imgur.com/oVTpTyF.jpg" alt="slide one"></div>
                            <p class="testimonial"> Lorem ipsum</p>
                            <p class="overview"><b>Bushra Ahmed</b>, Healthy Enthusyast</p>
                        </div>
                        <div class="item test-carousel-item carousel-item">
                            <div class="img-circle"><img src="https://imgur.com/q0TJTnn.jpg" alt="slide two"></div>
                            <p class="testimonial"> Lorem ipsum</p>
                            <p class="overview"><b>Mike Leys</b>, Ruby Wyzard</p>
                        </div>
                        <div class="item test-carousel-item carousel-item">
                            <div class="img-circle"><img src="https://imgur.com/eDvE2Bk.jpg" alt="slide three"></div>
                            <p class="testimonial"> I can't believe the app allows me to store my medical files! This is awesome!</p>
                            <p class="overview"><b>Sean Turnbull</b>, APY Manager</p>
                        </div>
                        <div class="item test-carousel-item carousel-item">
                            <div class="img-circle"><img src="https://imgur.com/Mndr438.jpg" alt="slide four"></div>
                            <p class="testimonial"> Lorem ipsum</p>
                            <p class="overview"><b>John Maksimik</b>, GytHub Master</p>
                        </div>
                    </div>
                    <a href="#test-carousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
                        <span class="sr-only"></span>
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a href="#test-carousel" class="carousel-control-next" role="button" data-bs-slide="next">
                        <span class="sr-only"></span>
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br>

{% endblock content %}
    
