@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*{
    font-family: 'Yantramanav';
}

.home-carousel-item {
    height: 32rem;
    background: #000;
    color: white;
    position: relative;
    
}

.home-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    text-align: center;
}

.home-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.navbar-brand:hover {
        background-color: rgb(231, 241, 233);
    }

.dashboard-container {
    background-color: whitesmoke;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 8%;
    border-radius: 10px;
}

.dash-card {
    overflow: hidden;
    transition: all 1.0s ease;
    border-radius: 10px;
    height: 150px;
    margin: 10px;
}

.dash-card-body {
    margin: 5px;
    padding-bottom: 15px;
}

.dash-card:hover {
    transform: scale(1.5);
}

.dash-card-body {
    text-align: center;
    margin-top: 30px;
}

.appointment-card {
    background-color: rgb(249, 161, 161);
}
.medicine-card {
    background-color: rgb(247, 205, 134);
}
.insurance-card {
    background-color: rgb(245, 226, 104);
}
.contact-card {
    background-color: rgb(185, 216, 159);
}
.document-card {
    background-color: rgb(161, 206, 249);
}
.find-card {
    background-color: rgb(175, 140, 212);
}

.appointments-container {
    background-color: rgb(249, 161, 161);
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 8%;
    border-radius: 10px;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
}

.appointments-card h3 {
    text-transform: uppercase;
    color: rgb(195, 195, 195);
    font-size: 1.3rem;
}

.btn-dark {
    margin: 25px;
}

.jumbotron {
    background-color: rgb(249, 161, 161);
}

.blurb, #blurb {
    margin: 35px;
}

.get-started .card-body i{
    font-size: 60px;
}