
*{
    font-family: 'Yantramanav';
}
body {
    background-color: rgb(231, 241, 233);
}

.home-carousel-item {
    height: 32rem;
    background: #000;
    color: white;
    position: relative;
    
}

.home-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    text-align: center;
}

.home-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.home-btn {
    background: rgb(221, 240, 225);
}


.navbar-brand:hover {
        background-color: rgb(231, 241, 233);
    }

.dashboard-container {
    background-color: whitesmoke;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 8%;
    border-radius: 10px;
}

.card {
    overflow: hidden;
    transition: all 1.0s ease;
}

.card:hover {
    transform: scale(1.5);
}

.card-body {
    text-align:center ;
}

.appointment-card {
    background-color: rgb(249, 161, 161);
}
.medicine-card {
    background-color: rgb(247, 205, 134);
}
.insurance-card {
    background-color: rgb(245, 226, 104);
}
.contact-card {
    background-color: rgb(185, 216, 159);
}
.document-card {
    background-color: rgb(161, 206, 249);
}
.find-card {
    background-color: rgb(175, 140, 212);
}

main .container{
    margin: 2px;
}