{% extends 'base.html' %}

{% block content %}
<h1>My Medical Record</h1>
<br>
<h3>My Labs</h3>
<table>
    <thead>
        <tr>Date</tr>
        <tr>Lab</tr>
        <tr>Notes</tr>
    </thead>
    <tbody>
    {% for file in user.document_set.all  %}
        {% if file.file_category == 'ML'  %}
            <td>{{ file.uploaded_at|date:"m/d/Y"}}</td>
            <td><a href="{{ file.url }}">{{ file.title }}</a></td>
            <td>{{ file.notes }}</td>
        {% endif %} 
    {% endfor %}
    </tbody>
</table>


<h3>My Imaging</h3>
<table>
    <thead>
        <tr>Date</tr>
        <tr>Images</tr>
        <tr>Notes</tr>
    </thead>
    <tbody>
    {% for file in user.document_set.all  %}
        {% if file.file_category == 'IM'  %}
            <td>{{ file.uploaded_at|date:"m/d/Y"}}</td>
            <td><a href="{{ file.url }}">{{ file.title }}</a></td>
            <td>{{ file.notes }}</td>
        {% endif %} 
    {% endfor %}
    </tbody>
</table>

<h3>My Documents</h3>
<table>
    <thead>
        <tr>Date</tr>
        <tr>Title</tr>
        <tr>Notes</tr>
    </thead>
    <tbody>
    {% for file in user.document_set.all  %}
        {% if file.file_category == 'GD'  %}
            <td>{{ file.uploaded_at|date:"m/d/Y"}}</td>
            <td><a href="{{ file.url }}">{{ file.title }}</a></td>
            <td>{{ file.notes }}</td>
        {% endif %} 
    {% endfor %}
    </tbody>
</table>
<hr>
<form action="{% url 'add_file' %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input type="file" name="doc-file">
    <label for="file-name">Document Name:</label>
    <input type="text" id="file-name" name="title">
    <label for="category-select">File Category:</label>
    <select id="category-select" name="file_category">
        <option value=""></option>
        <option value="ML">Lab Work</option>
        <option value="IM">Imaging</option>
        <option value="GD">General Documents</option>
    </select>
    <label for="note-field">Notes:</label>
    <textarea id="note-field" name="notes"></textarea>
    <input type="submit" class="btn" value="Upload File">
</form>

{% endblock content %}
    