{% extends 'base.html' %}

{% block content %}

<div class="insurance-jumbotron p-3 mb-4 mt-3 rounded-3">
    <div class="container-fluid py-5;">
      <h3 class="display-4 mb-4 fw-bold">My Insurance</h3>
      <hr class="mb-4">
      <div class="row justify-content-evenly">
        <div class="col-5">
            {% for insurance in insurances %}  
          <div class="card shadow insurance-card-light  mb-3 mx-4">
            <div class="card-body flex-column mx-3">
              <div class="h-100">
                <h3 class="card-title fw-bold mt-2">{{ insurance.get_insurance_company_display }}</h3>
                <h5 class="card-title">{{ insurance.subscriber }}</h5>
                <br><br>
                <h4 class="card-text">Member ID {{ insurance.member }}</h4>
                <div class="row">
                  <div class="col-7"><h4 class="card-text">Group {{ insurance.group }}</h4></div>
                  <div class="col-5"><p>FULLY INSURED</p></div>
                </div>
                <a href="{% url 'delete_insurance' insurance.id %}" class="card-link text-muted mb-2"> DELETE</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="col-7 my-2"> 
            <div class="mx-5">
            <div class="card insurance-form">
                <div class="card-header insurance-card">
                <h3 class="text-center">Add An Insurance Card</h3>
                </div>
                <div class="card-body insurance-card-light">
                    <form action="{% url 'add_insurance' user.id %}" method="post">
                        {% csrf_token %}
                        {{ insurance_form.as_p }}
                       
                          <input type="submit" class="btn insurance-card mb-4 btn-outline-dark" value="Add Insurance">
                        
                        
                    </form>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}