{% extends 'base.html' %}

{% block content %}


    <div class="container">
        
        <form action="" method="POST">
            {% csrf_token %}
            
            {{ form }}
            <div class="d-grid gap-0 ">
              <input type="submit" value="Submit!" class="btn btn-success">
            </div>
        </form>
        
        <h1>List of Providers</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Provider Name</th>
                    <th>Specialty</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Street</th>
                    <th>Zip</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for provider in response %}
                <tr>
                    <td>{{ provider.Rndrng_Prvdr_Last_Org_Name }}</td>
                    <td>{{ provider.Rndrng_Prvdr_Type }}</td>
                    <td>{{ provider.Rndrng_Prvdr_City }}</td>
                    <td>{{ provider.Rndrng_Prvdr_State_Abrvtn }}</td>
                    <td>{{ provider.Rndrng_Prvdr_St1 }}</td>
                    <td>{{ provider.Rndrng_Prvdr_Zip5 }}</td>
                </tr>
                {% endfor %}   
            </tbody>
        </table>
    </div>



{% endblock content %}
