{% extends 'base.html' %}

{% block content %}
<h1 class="px-3 py-3">Dashboard</h1>
<div class="row">
    <div class="col-md-4">
        <a href="{% url 'appointments_index' %}" class="nav-link">
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header">Appointments</div>
            <div class="card-body">
              <h1 class="card-title">Appointments</h1>
            </div>
        </div>
        </a>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">Medications</div>
            <div class="card-body">
              <h1 class="card-title">Medications</h1>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">Insurance</div>
            <div class="card-body">
              <h1 class="card-title">View Insurance</h1>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Contact Provider</div>
            <div class="card-body">
              <h1 class="card-title">Contact</h1>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Manage Documents</div>
            <div class="card-body">
              <h1 class="card-title">Documents</h1>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Find Provider</div>
            <div class="card-body">
              <h1 class="card-title">Find A Provider</h1>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
